/**
 *  Declaring all element that will change many times on the main file sheets
 * 1. font style from google font used by url import.
 * 2. background and text color variables.
 * 3. font variable.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 0 1px 0 #000;
}

header nav .logo {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}

header nav .logo span {
  font-weight: 500;
  font-size: 2rem;
}

header nav .links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

header nav .links a.active {
  border-bottom: 2px solid #000;
}

header nav .links a:hover {
  animation: linksanimiation linear 200ms forwards;
}

header nav .collapse_menu {
  display: none;
  flex-direction: column;
}

header nav .collapse_menu span {
  margin: 2px 0;
  width: 40px;
  height: 4px;
  background-color: #000;
}

header nav .collapse_menu span:nth-child(3) {
  width: 35px;
}

@keyframes linksanimiation {
  0% {
    border-bottom: 0 solid #000;
  }
  100% {
    border-bottom: 2px solid #000;
  }
}

@media screen and (max-width: 650px) {
  header nav {
    justify-content: space-between;
  }
  header nav .links {
    background: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    position: fixed;
    top: 118px;
    left: 0;
    width: 100%;
  }
  header nav .links a {
    font-size: 1rem;
    padding: 0.8rem 0;
    color: #fff;
  }
  header nav .collapse_menu {
    display: flex;
    cursor: pointer;
  }
  header nav .collapse_menu .open:nth-child(1) {
    transition: all linear 200ms;
    transform: rotate(50deg);
    height: 2px;
  }
  header nav .collapse_menu .open:nth-child(2) {
    transition: all linear 200ms;
    transform: rotate(130deg);
    position: relative;
    top: -7px;
    height: 2px;
  }
  header nav .collapse_menu .open:nth-child(3) {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.container h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

.container p {
  padding-bottom: 2rem;
}

.container .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  gap: 10px 10px;
  margin: 0 3.5rem;
}

.container .grid .grid-item {
  width: 23%;
  height: auto;
  margin: 3px 0;
}

.container .grid .grid-item img {
  width: 100%;
  max-height: 100%;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.container .grid .grid-item img:hover {
  transform: scale(1.01);
  opacity: 1;
}

.container .grid .grid-item .text {
  z-index: 999;
  color: #fff;
  position: absolute;
  bottom: 40px;
  pointer-events: none;
}

.container .grid .grid-item .text span {
  font-size: 0.8rem;
  opacity: 0;
  background-color: #000;
  padding: 0.4rem 1rem;
  text-shadow: 0 0 3px gray;
  transition: 0.5s ease-in-out;
}

.container .grid .grid-item:hover .text span {
  opacity: 1;
  box-shadow: 0 0 3px #eaeaea;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 1rem;
  }
  .container .grid .grid-item {
    width: 330px;
    height: auto;
    margin: 3px 0;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
  .container .title h1 {
    font-size: 2rem;
  }
  .container .title p {
    font-size: 0.8rem;
  }
  .container .grid {
    margin: 0 1rem;
  }
  .container .grid .grid-item {
    width: 350px;
    height: auto;
    margin: 3px 0;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 1rem;
  }
  .container .title h1 {
    font-size: 1.5rem;
  }
  .container .title p {
    font-size: 0.6rem;
  }
  .container .grid {
    margin: 0 0;
  }
  .container .grid .grid-item {
    width: 100%;
    height: auto;
    margin: 3px 0;
  }
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #7f8c8d;
  perspective: 1000;
  left: 0;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(4px);
  opacity: 0.4;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 3px gray;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 80vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

/*.lightbox:hover img{
    transform: translate(-50%, -50%) rotateY(180deg);
  }*/
[class^='arrow'] {
  height: 200px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

[class^='arrow']:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
  height: 15px;
}

.arrowr {
  right: 0;
}

.arrowr:after {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.arrowl {
  left: 0;
}

.arrowl:after {
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 20px;
  cursor: pointer;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #fff;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */