// Import sass files that has the component for main, and decode scss file for better compiling.
@charset 'utf-8';
@import 'variables';

// Init the page style items

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: auto;
  font-family: $fontT;
}
@import 'menu';
@import 'section';
@import 'media';
