@media screen and (max-width: 1200px) {
  .container {
    padding: 0 1rem;
    .items {
      grid-template-columns: auto auto auto auto;

      & .item:nth-child(8) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 8;
      }
      & .item:nth-child(10) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 10;
      }
      & .item:nth-child(11) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 11;
      }
      & .item:nth-child(12) {
        grid-column-start: span 4;
        grid-row-start: span 1;
        order: 12;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 1rem;
    & .title {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .items {
      grid-template-columns: auto auto auto;

      & .item:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 0;
      }
      & .item:nth-child(2) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 1;
      }
      & .item:nth-child(3) {
        grid-column-start: span 2;
        grid-row-start: span 1;
        order: 3;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 1rem;

    & .title {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.6rem;
      }
    }
    & .items {
      grid-template-columns: auto auto;
      & .item:nth-child(1) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(2) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(3) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(4) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(5) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(6) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(7) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(8) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(9) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(10) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(11) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
      & .item:nth-child(12) {
        grid-column-start: span 4;
        grid-row-start: span 1;
      }
    }
  }
}
